<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <title>Basic Calculator</title>
  </head>
  <body class="div">
    <form action="{{url_for('predict')}}" method="post" class="form content">
      <input
        type="text"
        name="a"
        class="flex input"
        placeholder="Enter first number"
        required="required"
      />
      <input
        type="text"
        name="b"
        class="flex input"
        placeholder="Enter second number"
        required="required"
      />
      <select name="operation" id="operation" class="flex">
        <option value="+">Add</option>
        <option value="-">Subtract</option>
        <option value="*">Multipty</option>
        <option value="/">Divide</option>
      </select>

      <input
        id="submit"
        class="center div form"
        type="submit"
        value="Calculate"
      />
    </form>

    <br />
    <br />
    <div id="res" class="div">{{prediction_text}}</div>
  </body>
</html>
